.gallery{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    

}
.titleimg{
    /* width:15em;
    height:25em; */
    max-width:100%;

}

.description{
    word-wrap: break-word;
    font-weight: bold;
}
.card-content{
    background-color: yellow;
}
.techstack{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
background-color: beige;
}

.tech{
    margin: 5px;
    padding: 2px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.iconlink{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
