#header {
    position: fixed;
    width: 220px;
    
  }
  #header .pro-sidebar {
    height: 80vh;

  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 100px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 90%;
    min-width: 90%;

  }
  #header .pro-sidebar.collapsed {
    width: 75px;
    min-width: 60px;
  }
  #header .pro-sidebar-inner {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;

  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0px;
    /* background-color: blue; */
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 0px 0px;
    font-weight: bold;
   
    
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
    
    
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
    
  }
  #header .pro-sidebar-inner .pro-sidebar-layout  li:hover{
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
  }
 
  #header .logo {
    padding: 10px;
  }
  .sidebarfoot{
    display:flex;
    /* flex-direction: row; */
  }
  
.navfoot ul{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.pro-sidebar .pro-menu a{
   color: maroon;
}
#header .pro-sidebar-inner .pro-sidebar-layout  a:hover{
    color:black;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout  .active{
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: visible;
    }
  }